<a href="https://colab.research.google.com/github/kuozheng10/FLASK_HEROKU/blob/master/DataReader_sample01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import pandas_datareader.data as web

In [0]:
df = pd.read_json('https://www.yuantaetfs.com/api/StkWeights?date=&fundid=1066')

In [0]:
df.head()

   code  ym name                            ename  weights       qty
0  1101 NaN   台泥              Taiwan Cement Corp.     1.19  23340630
1  1102 NaN   亞泥          Asia Cement Corporation     0.57  11217648
2  1216 NaN   統一  UNI-PRESIDENT ENTERPRISES CORP.     1.87  23185614
3  1301 NaN   台塑     Formosa Plastics Corporation     2.28  23551472
4  1303 NaN   南亞      NAN YA PLASTICS CORPORATION     1.89  27307540

In [0]:
for i, row in df.iterrows():
  prices = web.DataReader(f"{row['code']}.tw",'yahoo','2015-01-01')
  print(row['name'],"==>",prices['Adj Close'][-1]/prices['Adj Close'][0])

台泥 ==> 1.5462499459306418
亞泥 ==> 1.2822288677896359
統一 ==> 1.6985322438494717
台塑 ==> 1.4009401985516785
南亞 ==> 1.1713590013280495
台化 ==> 1.3085210534916578
遠東新 ==> 0.9462320225384239
中鋼 ==> 0.8615797088975192
正新 ==> 0.5077550378898028
和泰車 ==> 1.2709869834768681
光寶科 ==> 1.6201725676965848
聯電 ==> 1.2818198683502697
台達電 ==> 0.8316418541397915
鴻海 ==> 0.9267865461267524
國巨 ==> 6.292816561660775
台積電 ==> 2.5627016576720343
華碩 ==> 0.7601893650702354
廣達 ==> 1.0654644568704663
研華 ==> 1.4306124640258275
南亞科 ==> 0.9526415221495605
中華電 ==> 1.4644064166387354
聯發科 ==> 0.9202097917368899
可成 ==> 1.0496650119081177
台灣高鐵 ==> 3.6654667484910393
彰銀 ==> 1.494547880112411
中壽 ==> 1.0847041422566757
華南金 ==> 1.6106399543940684
富邦金 ==> 0.9823534680816344
國泰金 ==> 0.8311339335622386
開發金 ==> 1.0825024157409526
玉山金 ==> 2.255131669831848
元大金 ==> 1.3163763612840766
兆豐金 ==> 1.6644706645770517
台新金 ==> 1.2790290281941585
新光金 ==> 1.0364805316766597
永豐金 ==> 1.3419559634296614
中信金 ==> 1.3349351950977966
第一金 ==> 1.7629873683401227
統一超 ==> 1.4639888567132362
大立光 ==> 1.7239231838310178
台灣大 ==> 1.3069971542379335
日月光投控 ==> 0.9598793501089095
遠傳 ==> 1.1232423612773346
和碩 ==> 1.1669236519453123
中租-KY ==> 1.7761157247977453
上海商銀 ==> 1.5279331473635838
合庫金 ==> 1.7704367249485564
台塑化 ==> 1.4715501689495782
寶成 ==> 0.8445920997130301
豐泰 ==> 2.2747773337151473